{% set apps = ["api", "admin-frontend", "briefs-frontend", "brief-responses-frontend", "buyer-frontend", "router", "search-api", "supplier-frontend", "user-frontend"] -%}
{% set environments = ["preview", "staging", "production"] -%}
Auth:
  region: "eu-west-1"
Metrics:
{% for environment in environments -%}
{% for app in apps -%}
{% for bucket in range(10) -%}
- Namespace: "DM-RequestTimeBuckets"
  MetricName: "{{ environment }}-{{ app }}-request-times-{{ bucket }}"
  Statistics: "Sum"
  Dimensions: []
  Options:
    Formatter: 'cloudwatch.request_time_buckets.{{ environment }}.{{ app }}.request_time_bucket_{{ bucket }}.%(statistic)s'
{% endfor -%}
{% endfor -%}
{% endfor -%}
{% for environment in environments -%}
{% for app in apps -%}
{% for status_prefix in ['4', '5'] %}
- Namespace: "DM-{{ status_prefix }}00s"
  MetricName: "{{ environment }}{% if app != "nginx" %}-{{ app }}{% endif %}-nginx-{{ status_prefix }}00s"
  Statistics: "Sum"
  Dimensions: []
  Options:
    Formatter: 'cloudwatch.application_{{ status_prefix }}00s.{{ environment }}.{{ app }}.{{ status_prefix }}00s.%(statistic)s'
{% endfor -%}
{% endfor -%}
{% endfor -%}
{% for environment in environments -%}
- Namespace: "DM-429s"
  MetricName: "{{ environment }}-router-nginx-429s"
  Statistics: "Sum"
  Dimensions: []
  Options:
    Formatter: "cloudwatch.router_429s.{{ environment }}.router.429s.%(statistic)s"
{% endfor -%}
Options:
  Count: 10
