{% set apps = ["antivirus-api", "api", "admin-frontend", "briefs-frontend", "brief-responses-frontend", "buyer-frontend", "router", "search-api", "supplier-frontend", "user-frontend"] -%}
{% set environments = ["preview", "staging", "production"] -%}
{% set log_types = ["application", "nginx"] -%}
Metrics:
{% for environment in environments -%}
{% for app in apps -%}
{% for bucket in range(10) -%}
- Namespace: "DM-RequestTimeBuckets"
  MetricName: "{{ environment }}-{{ app }}-request-times-{{ bucket }}"
  Statistics: "Sum"
  Dimensions: {}
  Options:
    Formatter: 'cloudwatch.request_time_buckets.{{ environment }}.{{ app }}.request_time_bucket_{{ bucket }}.%(statistic)s'
{% endfor -%}
{% endfor -%}
{% endfor -%}
{% for environment in environments -%}
{% for app in apps -%}
- Namespace: "DM-500s"
  MetricName: "{{ environment }}{% if app != "nginx" %}-{{ app }}{% endif %}-nginx-500s"
  Statistics: "Sum"
  Dimensions: {}
  Options:
    Formatter: 'cloudwatch.application_500s.{{ environment }}.{{ app }}.500s.%(statistic)s'
- Namespace: "DM-APIClient-Retries"
  MetricName: "{{ environment }}-{{ app }}-apiclient-retries"
  Statistics: "Sum"
  Dimensions: {}
  Options:
    Formatter: "cloudwatch.apiclient_retries.{{ environment }}.{{ app }}.retries.%(statistic)s"
{% endfor -%}
{% endfor -%}
{% for environment in environments -%}
- Namespace: "DM-429s"
  MetricName: "{{ environment }}-router-nginx-429s"
  Statistics: "Sum"
  Dimensions: {}
  Options:
    Formatter: "cloudwatch.router_429s.{{ environment }}.router.429s.%(statistic)s"
- Namespace: "DM-SNS"
  MetricName: "{{ environment }}-dropped-antivirus-sns"
  Statistics: "Sum"
  Dimensions: {}
  Options:
    Formatter: "cloudwatch.antivirus.sns.{{ environment }}.dropped-sns.%(statistic)s"
{% endfor -%}
{% for environment in environments -%}
{% for app in apps -%}
{% for log_type in log_types -%}
- Namespace: "AWS/Logs"
  MetricName: "IncomingLogEvents"
  Statistics: "Sum"
  Dimensions:
    LogGroupName: "{{ environment }}-{{ app }}-{{ log_type }}"
  Options:
    Formatter: "cloudwatch.incoming_log_events.{{ environment }}.{{ app }}.{{ log_type }}_logs.%(statistic)s"
{% endfor -%}
{% endfor -%}
{% endfor -%}
